apiVersion: v2
version: 2.7.18-ak.0.0
appVersion: 2.7.18
description: A Helm chart for ArgoCD, a declarative, GitOps continuous delivery tool for Kubernetes.
name: argo-cd
home: https://charts.akuity.io
icon: https://argoproj.github.io/argo-cd/assets/logo.png
keywords:
  - argoproj
  - argocd
  - gitops
maintainers:
  - name: jessesuen
    email: jesse@akuity.io
  - name: wanghong230
    email: hong@akuity.io
  - name: evgeny-goldin
    email: evgeny@akuity.io
  - name: 34fathombelow
    email: justin@akuity.io

dependencies:
  - name: argo-cd-extensions
    version: 0.0.4
    repository: https://charts.akuity.io
    condition: extensions.enabled
  - name: argocd-image-updater
    version: 0.1.2
    repository: https://charts.akuity.io
    condition: imageUpdater.enabled
